{% extends "layout.html" %}

{% block content %}
<p>This is a demo FastAPI application for YOLOv5. See /docs for more info on API usage.</p>

<p>YOLOv5 Ultralytics Repo: <a href="https://github.com/ultralytics/yolov5"> https://github.com/ultralytics/yolov5 </a></p>
<p>Demo created by: <a href="https://github.com/welkinu"> https://github.com/welkinu </a></p>

<p>Borrowing a bunch of code from: <a href="https://gist.github.com/decent-engineer-decent-datascientist/81e04ad86e102eb083416e28150aa2a1"> decent-engineer-decent-datascientist </a></p>

{% endblock %}