{% extends "layout.html" %}

{% block content %}
<h5>Upload image(s) and select a YOLOv5 model</h5>

<hr/>

<form method="post" action="" enctype="multipart/form-data">
  <div class="form-row">
  	<div class="form-group col-md-2">
      <label>Upload Image(s)</label>
    </div>
    <input name="file_list" type="file" multiple>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label>Select YOLO Model</label>
    </div>
    <div class="form-group col-md-2">
      <select class="form-control form-control-sm" name="model_name">
        <option>yolov5s</option>
        <option>yolov5m</option>
        <option>yolov5l</option>
        <option>yolov5x</option>
      </select>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

{% endblock %}